.toggle{
  margin-left: 370px;
  margin-top: -30px;
}
.span, .first, .footer{
  display: none;
}
.pics img{
  width: 200px;
}
.menu {
  position: absolute;
  top: 90vh;
  z-index: 2; 
}
.new{
  position: absolute;
  bottom: -120px;
  left: 70px;
}
.news{
  position: absolute;
  bottom: -420px;
  left: -270px;
}
body{
  /* overflow-x: hidden; */
}
.tem{
  display: none;
}
.number{
  position: absolute;
  top: 255vh;
  right: 10px;
}