.toggle{
  margin-left: 370px;
  margin-top: -30px;
  
}
.span{
  display: none;
}
.first{
  display: none;
}
.pics img{
  width: 200px;
}
.menu {
  position: absolute;
  top: -10px;
}
.new{
  position: absolute;
  bottom: 420px;
  left: 70px;
}
.news{
  position: absolute;
  bottom: -420px;
  left: -270px;
}